.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 1600px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.fotos {
    margin-top: 2rem;
    width: 24%;
    height: 260px;
    float: left;
    margin-left: 14px;
    border-radius: 0.2cm;
}

.fotos img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 0.2cm;
}


/* texto */

.context {
    width: 90%;
    height: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    width: 26%;
    height: 260px;
    margin-top: 40px;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.texto p {
    text-align: justify;
    color: #000;
}

@media (min-width:1024px) and (max-width:1600px) {
    .fotos {
        margin-top: 30px;
        width: 40%;
        height: 260px;
        background-color: lightsalmon;
        float: left;
        margin-left: 60px;
    }
}

@media (min-width:360px) and (max-width:1000px) {
    .fotos {
        display: block;
        margin-top: 30px;
        width: 80%;
        height: 260px;
        background-color: lightsalmon;
        float: left;
        margin-left: 14px;
    }}

.customer {
background: linear-gradient(green 1.4%, white 88.47%);
width: 96%;
height:140px;
margin-left: auto;
margin-right: auto;
border-top-right-radius: 0.2rem;
border-top-left-radius: 0.2rem;
}    
.customer h2{
text-align: center;
text-transform:capitalize;
padding: 12px;
}